@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

:root{
    --primary-color: #8b016a;
    --secondary-color: #6f1159;
    --third-color: #ffff;  
    --fourth-color: #96283a;  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(var(--primary-color),var(--secondary-color));
    min-height: 100vh;
    overflow-x: hidden;
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

#header .logo{
    color: var(--third-color);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header .navegation{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .navegation li{
    list-style: none;
    margin-left: 20px;
}

#header .navegation li a{
    text-decoration: none;
    padding: 6px 15px;
    color: var(--third-color);
    border-radius: 20px;
}

#header .navegation li a:hover,
#header .navegation li a.active{
    color: var(--secondary-color);
    background: var(--third-color);
    transition: 1s;
}

#home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#home img#lamp{
    mix-blend-mode: screen;
}

#home img#tajMahal{
    transform: translateY(-20px);
}

#text{
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translateX(-50%);
    color: var(--third-color);
    font-size: 10vw;
    white-space: nowrap;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    font-family: 'Rancho', cursive;
}

#sec{
    position: relative;
    padding: 100px;
    background: var(--fourth-color);    
}

#sec h2{
    font-size: 3em;
    color: var(--third-color); 
    margin-bottom: 10px;   
}

#sec p{
    font-size: 1em;
    color: var(--third-color);
    font-weight: 300;
}

@media(max-width: 992px){
    #header{
        padding: 20px;
    }
    #header .logo{
        font-size: 1.5em;
    }
    #header .navegation{
        display: none;
    }

    #header nav.active .navegation{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: var(--secondary-color);
    }
    
    .toggle{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        position: relative;
        width: 35px;
        height: 5px;
        background-color: var(--third-color);
        margin: 6px 0;
        transition: 0.4s;      
        z-index: 1000;
        
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }    

}